* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Georgia, serif;
    background: #111;
    color: #f5f5f5;
    line-height: 1.7;
}


header {
    background: #000;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #b8860b;
}


header img {
    border-radius: 50%;
    margin-bottom: 15px;
}



nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}


nav a {
    color: #d4af37;
    text-decoration: none;
    font-weight: bold;
}


nav a:hover {
    color: white;
}






.hero {

    text-align: center;
    padding: 80px 20px;

    background:
    linear-gradient(
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)
    ),
    url("images/background.jpg");

    background-size: cover;
    background-position: center;

}



.hero h1 {

    font-size: 45px;
    color: #d4af37;

}


.hero h2 {

    color: white;
    margin: 10px;

}


.hero p {

    max-width: 700px;
    margin: auto;

}





section {

    padding: 40px 20px;

    max-width: 1100px;

    margin: auto;

}




h2 {

    text-align: center;

    color: #d4af37;

    margin-bottom: 30px;

}





.cards {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    gap: 25px;

}





.card {

    background: #1c1c1c;

    padding: 25px;

    border-radius: 15px;

    border: 1px solid #333;

    transition: 0.3s;

}



.card:hover {

    transform: translateY(-8px);

    border-color: #d4af37;

}




.card h3 {

    color: #d4af37;

    margin-bottom: 15px;

}




.card a {

    color: #d4af37;

    text-decoration: none;

    font-weight: bold;

}



button {

    background: #d4af37;

    color: black;

    border: none;

    padding: 12px 25px;

    border-radius: 25px;

    font-weight: bold;

    cursor: pointer;

}



button:hover {

    background: white;

}





img {

    max-width: 100%;

}





footer {

    background: #000;

    text-align: center;

    padding: 30px;

    margin-top: 40px;

    border-top: 2px solid #b8860b;

}





ul {

    margin-left: 25px;

}





@media(max-width:600px){


.hero h1 {

font-size: 32px;

}


nav {

flex-direction: column;

}


}
/* =================================
   LOGO + BANNER
================================= */

.brand-banner {
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.center-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    object-fit: contain;
    z-index: 2;
}