
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {

    font-family: Arial, sans-serif;
    background: #111;
    color: #f5f1e8;
    line-height: 1.6;

}



header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    background: rgba(0,0,0,0.8);

}



header img {

    border-radius: 50%;

}



nav a {

    color: #f5d76e;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;

}



nav a:hover {

    color: white;

}





.hero {

    min-height: 90vh;
    text-align: center;
    padding: 120px 20px;

    background:

    linear-gradient(
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.8)
    ),

    url("images/background.jpg");

    background-size: cover;
    background-position: center;

}



.hero h1 {

    font-size: 60px;
    margin-bottom: 10px;

}



.hero h2 {

    color: #f5d76e;
    font-size: 35px;

}



.hero p {

    max-width: 700px;
    margin: 30px auto;
    font-size: 20px;

}





button {

    background: #b8860b;
    color: white;

    border: none;
    padding: 12px 25px;

    border-radius: 30px;

    margin: 10px;

    cursor: pointer;

}



button:hover {

    transform: scale(1.05);

}





.cards {

    display: flex;
    justify-content: center;
    gap: 25px;

    flex-wrap: wrap;

    padding: 50px 20px;

}




.card {

    background: #1c1c1c;

    padding: 30px;

    border-radius: 15px;

    width: 300px;

    text-align: center;

    box-shadow: 0 10px 25px rgba(0,0,0,0.5);

    transition: 0.3s;

}




.card:hover {

    transform: translateY(-10px);

}





section {

    padding: 50px 20px;

    text-align: center;

}





.timeline {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}




.featured {

    background: #181818;

}





footer {

    text-align: center;

    padding: 30px;

    background: #000;

    color: #aaa;

}





@media(max-width:768px){


header {

    flex-direction: column;

}



nav {

    margin-top: 20px;

}



.hero h1 {

    font-size: 40px;

}



nav a {

    display: inline-block;

    margin: 5px;

}



}
